.footer {
  background: #000;
  color: #fff;
}

.footer-container {
  max-width: 1200px;
  padding: 120px 20px 60px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 100px;
  background-color: #000;
  align-items: center;
}

.footer-texto {
  font-size: 1.5rem;
  line-height: 1.33;
  color: #ccc;
  font-weight: 400;
  
}

.footer-contato li {
  font-size: 2.25rem;
  color: #fff;
  line-height: 1.1;
  font-weight: 700;
  margin-bottom: 30px;
  text-decoration: none;
  }

.footer-contato li a {
  color: white;
  text-decoration: none;
}

.footer-copy {
  grid-column: 1 / -1;
  font-size: 1.125rem;
  color: #8f8f8f;
  line-height: 1.4;
}

@media (max-width: 800px) {
  .footer-container {
    grid-template-columns: 1fr;
    gap: 40px;
  }
  .footer-container li {
    font-size: 1.5rem;
  }
}
